html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #f5f0e6;
  font-family: "Georgia", serif;
}

.portfolio-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0e6;
  position: relative;
  background-image: url("/배경.avif");
  background-size: cover;
}

.book-container {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flip-book {
  width: 100% !important;
  height: 100% !important;
  touch-action: pan-y pinch-zoom;
  transform: scale(0.9);
  transform-origin: center center;
}

.page {
  width: 100%;
  height: 100%;
  background: #fffdf7;
  padding: 40px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd2c2;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.08);
}

.mobile-page {
  width: 100%;
  height: 100%;
  background: #fffdf7;
  padding: 40px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd2c2;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

.page h2,
.mobile-page h2 {
  font-size: 2.2rem;
  text-align: center;
  color: #4b3621;
  border-bottom: 2px dashed #cdbda8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.page p,
.mobile-page p {
  white-space: pre-line;
  color: #5c5042;
  line-height: 1.8;
  font-size: 1.25rem;
  flex-grow: 1;
  margin: 0;
}

.page-number {
  text-align: center;
  font-size: 2rem;
  color: #b0a392;
  border-top: 1px dashed #e0d8c7;
  padding-top: 8px;
  position: absolute;
  bottom: 20px;
  width: 80%;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: #fff8e1;
  border: 1px solid #e0d4bb;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 10;
  transition: background 0.2s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  background: #fffdf4;
}

.nav-button.left {
  left: 1%;
}

.nav-button.right {
  right: 1%;
}

.intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.profile-img {
  width: 180px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.info-text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resume-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: linear-gradient(135deg, #bfa77a, #d9c9a3);
  color: #4b3621;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  list-style: none;
  text-decoration: none;
}

.resume-button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}


.skills-page,
.project-page,
.contact-page,
.education-page {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.skills-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1rem;
  background-color: #ffffffcc;
}

.skills-table th,
.skills-table td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  text-wrap: nowrap;
}

.skills-table .tools {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.skills-table .tools img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.index-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #5c5042;
  h3 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    color: #4b3621;
  }
}

.toc-list {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.toc-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.toc-list button {
  padding: 4px 8px;
  background-color: gold;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.toc-list button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}

.project-page img,
.project-slider .project-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.project-Skill {
  height: auto;
}

.project-item {
  background: #fffaf2;
  border-left: 6px solid #c8b198;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  max-height: 100%
}

.project-item h3 {
  margin-top: 0;
  color: #4b3621;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.project-title {
  display: flex;
  font-size: 16px;
  height: 16px;
  gap: 10px;
  margin-bottom: 25px;
  flex-wrap: nowrap;
}

.badge-container,
.api-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #f3e9dc;
  color: #4b3621;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.95rem;
  text-wrap: nowrap;
}

.badge img {
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-page input,
.contact-page textarea {
  border: 1px solid #c8b198;
  border-radius: 6px;
  font-family: inherit;
  resize: vertical;
  background-color: #fffaf2;
  width: 100%;
}

.contact-page input {
  height: 30px;
}

.contact-page textarea {
  height: auto;
  min-height: 300px;
}

.contact-page button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #4b3621;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-right {
  animation: slideFromRight 0.4s ease forwards;
}

.slide-left {
  animation: slideFromLeft 0.4s ease forwards;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.intro-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("/book-cover.png");
  background-size: contain;
  padding: 24px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  color: #fffdf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.intro-screen h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff8f0;
  border: 2px solid #d9c9a3;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
}

.start-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: linear-gradient(135deg, #bfa77a, #d9c9a3);
  color: #4b3621;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.start-button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.intro-page-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  animation: fadeIn 0.6s ease-in;
  height: 80vh;
}

.intro-page-book h1 {
  font-size: 1.5rem;
  text-wrap: nowrap;
  margin-bottom: 2rem;
  color: #fff8f0;
  border: 2px solid #d9c9a3;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.4);
}

.intro-page-book button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: linear-gradient(135deg, #bfa77a, #d9c9a3);
  color: #4b3621;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.intro-page-book button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

.intro-cover-page {
  background-image: url("/book-cover.png");
  background-size: 100%;
  padding: 24px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  color: #fffdf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

@keyframes zoomToCenter {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}

.zoom-out {
  animation: zoomToCenter 1s ease forwards;
}

@keyframes glowText {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  70% {
    text-shadow: 0 0 2px #7e7e7e, 0 0 5px #a7a7a7, 0 0 10px #979797,
      0 0 30px #bababa;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 1px #cecece, 0 0 3px #adadad;
  }
}

.glow-text {
  animation: glowText 1.5s ease-out;
  text-shadow: 0 0 1px #cecece, 0 0 3px #adadad;
}
.single-centered-page {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

@media screen and (max-width: 1440px){
  .project-item {
  max-height: 500px
  }

  .badge-container,
  .api-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .page,
  .mobile-page {
    padding: 0;
  }
  .profile-img {
    width: 125px;
  }
  .page h2 {
    font-size: 2rem;
  }
  .page p {
    font-size: 1.1rem;
  }
  .skills-table th,
  .skills-table td {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
  .project-Skill {
    height: 90px;
  }
  .project-item {
    max-height: 65vh;
  }

  .intro-screen {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
  }

  .intro-screen h1 {
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
  }

  .start-button {
    font-size: 0.95rem;
    padding: 0.7rem 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 20px;
  }
  .page h2 {
    font-size: 1.7rem;
  }
  .page p {
    font-size: 1rem;
  }
  .profile-img {
    width: 130px;
  }
  .info-text {
    font-size: 1rem;
    gap: 6px;
  }
  .project-title {
    font-size: 14px;
  }
  .badge-container,
  .api-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-button {
    font-size: 1.5rem;
    padding: 6px 10px;
    top: 90%;
  }
  .book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-button.left {
    order: 0;
    align-self: flex-start;
  }
  .nav-button.right {
    order: 2;
    align-self: flex-end;
  }
  .page-number {
    width: 95%;
  }
}

@media screen and (max-width: 426px) {
  .portfolio-container {
    background-image: none;
  }
  .page {
    padding: 10px;
  }
  .page h2 {
    font-size: 1.4rem;
  }
  .page p {
    font-size: 0.95rem;
  }
  .skills-table th,
  .skills-table td {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .skills-table .tools img {
    width: 30px;
    height: 30px;
  }
  .badge-container,
  .api-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .badge {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }
  .badge img {
    width: 16px;
    height: 16px;
  }
  .contact-page button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
